
#user-options.show{
    display:block;
    position: absolute;
    top: 60px;
    right: 1%;
    margin: 0px;
    padding: 0px;
    width:10%;
    background: #fbfcfd;
    border:solid 2px #07135445;
    box-sizing: border-box;
    border-radius: 5px
}

#user-options{
    display: none;
}

#user-options ul li{
    display: block;
    color: rgba(81, 21, 103, 0.58);
    list-style: none;
    height: 40px;
    width: 100%;
    padding:10px 15px;
    border-bottom: 1px solid rgba(58, 64, 157, 0.32);
    box-sizing: border-box;
    margin: 0px 0px;
}
#user-options ul li:last-of-type{
    border-bottom: 0px solid black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    #user-options.show{
        top:52px;
        width:30%;
        font-size: 95%;
    }
}