<div id="login" class="form-container center">
    <span class="title" id="title"> Welcome Back </span>
    <span id="subtitle" >Ener UserName and Password to proceed.</span>
      
    <form id="login-form" class="form">
        <div class="form-group">
            <label> User Name </label>
            <input type="text" [(ngModel)]="cred.username" class="input flat" name="username" id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group">
            <label> Password </label>    
            <input type="password" [(ngModel)]="cred.password" class="input flat" name="pswd" id="pswd" placeholder="Enter User Password">
        </div>
        <div class="form-group">
            <label id="forget-paswd" >Forget Password ?</label>
        </div>
        <button id="login-btn" (click)="doLogin()" class=""  > Login </button>
        <button id="signup" routerLink="/signup" class="" > Sign Up </button>
    </form>
</div>