<div id="header">
  <div id="title">
      <label class="title"> Ajara Agro <span> | Ready to serve farmers 24/7 </span> </label>    
  </div>
  <div class="user-nav">
      <ul>
          <li class="msg" > </li>
          <li class="prof" (click)="toggleShowUserOptions()" > </li>
      </ul>
  </div>

</div>
<div id="footer">
      <label class="note-3"> <span class="yellow"> created with </span> <span class="red"> &lt;3 </span> by <i> <span class="blue"> @Akshay Dongare. </span> </i> </label>
</div>

<div id="sidebar" [class.active]="isSideBarActive" >
  <div class="toggle-btn" (click)="toggleSideBar()" >
      <span></span>
      <span></span>
      <span></span>
  </div>
  <ul>
      <li class="home" routerLink="/dashboard" > </li>
      <li class="inventory" routerLink="/inventory" > </li>
      <li class="settings" routerLink="/settings" ></li>
  </ul>
</div>

<div id="body">
  <router-outlet></router-outlet>
</div>


<app-user-options [show]="showUserOptions" [user]="currentUser" (outClick)="checkOutClick($event)"></app-user-options>
