table {
    font:simple 100% "Calibri" , "Segoe UI";
    background: #ffffff;
    padding: 0px;
    margin: 1%;
    border-spacing: 0px;
    border: 2px solid #8586d4a6;
    border-radius: 10px;
    overflow: hidden;

}
table.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

tr {
    height: 40px;
}

tr th{
    font:bold 110% "Calibri";
    text-align: center;
}

tr td{
    border-bottom: 2px solid #2d1de559
}
tr:nth-last-child(1) td{
    border-bottom: 0px solid ;
}
tr:nth-child(1){
    background-color: #0b78dd;
    color: #fff;
    height: 50px;
}

.action{
    cursor: pointer;
    width: 35px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.add{
    background: url('../../../assets/images/icons8-positive-64.png') no-repeat;
}

.save {
    background: url('../../../assets/images/icons8-save-96.png') no-repeat;
}

.view {
    background: url('../../../assets/images/icons8-eye-96.png') no-repeat;
}

.delete {
    background: url('../../../assets/images/icons8-trash-128.png') no-repeat;
}

.action{
    background-size: contain;
}

table input {
    border: 1px solid #59b6b53d;
    margin-left: 1px;
    text-align: center;
    color: #15032499;
    font: normal 100% "Calibri" , "Segoe UI";
    box-sizing: border-box;
    border-radius: 100px;
    background: #b2b1b845;
    height: 30px;
    /* width: 100%; */

}

table tr:nth-child(2n+1) input {
    background: #35ad1d00;
    color: #0f0c36ad;
    border: 1px solid #0b045e45;
}
table tr:nth-child(2n+4) input {
    background: #869edc00;
    color: #061e389e;
    border: 1px solid #164a773d;
}

table .filter {
    border: 2px solid #ef9a0933;
    background: #fade064a;
    border-radius: 100px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    table * {
        font-size:90%;
    }
    .table {
        width:95%;
        overflow: auto;
        padding-bottom: 2%;
    }
    .action{
        width: 25px;
    }
    tr{
        height: 35px;
    }

    /*Remove id and code in mobile view*/
    tr:nth-child(1){
        height: 40px;
    }
    tr th:nth-child(2){
        display: none;
    }
    tr th:nth-child(3){
        display: none;
    }tr td:nth-child(2){
        display: none;
    }
    tr td:nth-child(3){
        display: none;
    }
    tr td{
        color: #061e389e;
    }
    tr th {
        font-size: 100;
    }
    table input {
        font-size: 90%;
    }

}